**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/node_modules
**/.env
**/docker-compose*
**/Dockerfile*
**/*.md
**/Charts
**/.dockerignore
**/secrets.dev.yaml
**/values.dev.yaml
**/README.md
LICENSE
.git
.gitignore
